<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FCTB" version="2.16.24" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1340-prerelease" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2-beta2" targetFramework="net48" />
  <package id="TinyMCE" version="6.1.2" targetFramework="net48" />
</packages>